:root {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-size: 1.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 98rem;

    background-color: #f9f9f9;
    text-align: center;
}

input {
    text-align: center;
}

section {
    margin-bottom: 4rem;
}

#generator {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#generator #primos {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

#generator #primos article {
    margin-left: 2rem;
    margin-right: 2rem;
}

#generator button {
    margin-left: 2rem;
    margin-right: 2rem;
}

#calc {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#calc .column {
    margin-left: 1rem;
    margin-right: 1rem;
}



#decodificator {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 40%;
}

#produto {
    width: 100%;
}
