:root {
    box-sizing: border-box;
    font-size: 62.5%;

    --p-color: #6200ee;
    --s-color: #000;
    --t-color: #fff;
}

body {
    font-size: 1.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 99.2rem;

    background-image: linear-gradient(to top, var(--p-color), var(--s-color));
    text-align: center;
    color: var(--t-color);
}

input, button, select {
    border: none;
    text-align: center;
    border-radius: 1rem 0;
    color: var(--t-color);
}

input, select {
    background-color: var(--s-color);
    box-shadow: .1rem .1rem .7rem var(--t-color);
}

input::placeholder {
    color: var(--t-color);
}

section {
    margin-bottom: 4rem;
}

button {
    margin-top: 1rem;
    background-image: linear-gradient(to top left, var(--t-color), var(--p-color), var(--t-color));
    box-shadow: 0 0 .4rem var(--t-color);
}

#generator {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#generator #primos {
    display: flex;
    justify-content: center;
    align-items: center;
}

#generator #primos article {
    margin-left: 2rem;
    margin-right: 2rem;
}

#generator button {
    margin-left: 2rem;
    margin-right: 2rem;
}

#calc {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#calc .column {
    margin-left: 1rem;
    margin-right: 1rem;
}



#decodificator {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 40%;
}


